* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    width: 900px;
    margin: auto;
}

header a,
ul {
    display: inline-block;
    vertical-align: middle;
}

header ul {
    float: right;
}


header ul li img {}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: blue;
    margin: auto;
    width: 900px;
}

nav ul li {
    display: inline-block;
    padding: 10px;

}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;

}

nav ul li a:hover {
    text-decoration: none;
    background-color: aqua;
}

.main-div {
    margin: auto;
    width: 900px;
}

form {}

label {
    font-size: 12px;
}

#care-txt {
    font-size: 10px;
}

form input {
    padding: 5px;
    /* width: 252px; */
    outline: none;
    border: 1px solid grey;
    background: none;
}

#username-field,
#password-field,
#captcha-field {
    width: 252px;
}

form>input,
label,
div,
image,
button {
    margin-top: 6px;
    margin-bottom: 5px;
}

#captcha-div {
    width: 100px;
    height: 30px;
    background-color: red;
    display: inline-block;
    font-weight: 400;
    font-size: x-large;
    text-align: center;
    text-decoration: line-through;
    user-select: none;
}

.captcha-label {
    color: orangered;
    font-size: 12px;
}

.radio-captcha-div input,
label {}

#refresh-img {
    width: 25px;
    display: inline;
    color: blue;
}

#refresh-img:hover {
    cursor: pointer;
}

#login-btn {
    background-color: #14B1E2;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    color: white;
}

#reset-btn {
    background-color: #14B1E2;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    color: white;
}